<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Alivio - Solutions</title>
</head>
<body id="solutions">
    <header>
        <a href="/"><img src="logo.svg" alt=""></a>
        <ul>
            <li><a href="/why">why Alivio</a></li>
            <li><a href="/solutions">Solutions</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/pricing">Pricing</a></li>
        </ul>
        <ul>
            <li><a href="#">Sign in</a></li>
            <li><a href="#" class="btn">Start Trial</a></li>
        </ul>
    </header>
    <main>
        <section id="hero">
            <h1>Be aware, Manage well.</h1>
            <p>
                Everyone experiences stress in different ways. Let Alivio guide you, in a personalized journal experience, to overcome your stress.
            </p>
            <a href="#" class="btn">Find Your Way</a>
        </section>
        <section id="video">
            <a href="#" class="btn">Let’s get started</a>
            <img src="Video.png" alt="">
        </section>
    </main>
    <footer>
        <h2><a href="/">Alivio</a></h2>
        <ul>
            <li><a href="#">why Alivio</a></li>
            <li><a href="/solutions">Solutions</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="#">Pricing</a></li>
        </ul>
    </footer>
</body>
</html>